---
layout: base.njk
---

<div
  data-scroll-behavior="default"
  data-scroll-offset="0"
  data-scroll-speed="3"
  class="style6 container default full screen"
>
  <div class="wrapper">
    <div class="inner" data-onvisible-trigger="1">
      <h2 class="style2">{{title}}</h2>
      <h3 class="style1">{{description}}</h3>

      {{content|safe}}
    </div>
  </div>
</div>
