---
layout: base.njk
---
<div
  data-scroll-behavior="default"
  data-scroll-offset="0"
  data-scroll-speed="3"
  class="style6 container default full screen"
>
  <div class="wrapper">
    <div class="inner" data-onvisible-trigger="1">
      <h1 id="text13" class="style2">{{title}}</h1>
      <h2 class="style1">{{description}}</h2>
      <img
              src="{{image}}"
              alt="{{title}}"
              class="3image full"
            />
      <p id="text31" class="style3">
        {{content|safe}}
       {% if download.show %}<p><strong>
        <ul class="style1 buttons">
          <li>
            <a
              href="{{download.url}}"
              class="button n01"
              role="button"
              ><span class="label">{{download.title}}</span></a
            >
          </li>
          </ul>
        {% endif %}
         
      </p>
<!--
{%- set previousPost = collections.recipients | getPreviousCollectionItem %}
{%- set nextPost = collections.recipients | getNextCollectionItem %}
{%- if nextPost or previousPost %}
      <ul class="style1 buttons">
        {%- if previousPost %}<li>
          <a href="{{ previousPost.url }}" class="button n01" role="button"
            ><svg aria-labelledby="buttons01-icon-1-title">
              <title>Arrow Right (Light)</title>
              <use xlink:href="/assets/icons.svg#arrow-left-light"></use></svg
            ><span class="label">PREVIOUS</span></a
          >
        </li>{% endif %}
        {%- if nextPost %}<li>
          <a href="{{nextPost.url}}" class="button n01" role="button"
            ><span class="label">NEXT</span><svg aria-labelledby="buttons01-icon-1-title">
              <title>Arrow Right (Light)</title>
              <use xlink:href="/assets/icons.svg#arrow-right-light"></use></svg
            ></a
          >
        </li>{% endif %}
       {%- endif %}
      -->
      </ul>
    </div>
  </div>
</div>
