---
layout: base.njk
---
{% include "partials/hero.njk" %}
{% include "partials/home/video.njk" %}
{% include "partials/home/content.njk" %}
{% include "partials/home/stickmaker.njk" %}
{% include "partials/home/educator.njk" %}
{% include "partials/home/event.njk" %}
{% include "partials/home/gallery.njk"%} 
{% include "partials/home/section1.njk" %}
{% include "partials/home/blog.njk" %} 
