{% if show_newsletter %}<div
  id="container04 full"
  data-scroll-id="{{metadata.newsletter.section}}"
  data-scroll-behavior="default"
  data-scroll-offset="0"
  data-scroll-speed="3"
  class="style6 default full screen"
>
  <div class="wrapper">
    <div class="" data-onvisible-trigger="1">
      
      <div class="grid-container" style="color: black;">
<div class="grid-item text-start">      
  <p>Built with <a href="https://11ty.dev" target="_blank" rel="noopener">{{ eleventy.generator }}</a>. {{metadata.copyrights.support.text}} <a href="{{metadata.copyrights.support.url}}" target="_blank" rel="noopener">{{metadata.copyrights.support.text1}}</a>.<br /> 
        {{metadata.copyrights.text}}
        <a href="{{metadata.copyrights.text1_url}}" target="_blank" rel="noopener"
          >{{metadata.copyrights.text1}}</a
        >.
      </p>
    </div>
<div class="grid-item justify-content-end">
  <ul id="icons01" class="style1 icons icons-right">
        {% if metadata.social.facebook %}<li>
          <a class="n02" href="{{metadata.social.facebook}}" role="button">
            <svg aria-labelledby="icons01-icon-2-title"  width="24" height="24">
              <title id="icons01-icon-2-title">Facebook</title>
              <use xlink:href="/assets/icons.svg#facebook"></use>
            </svg>
            <span class="label">Facebook</span>
          </a>
        </li>{% endif %}
        {% if metadata.social.instagram %}<li>
          <a class="n03" href="{{metadata.social.instagram}}" role="button">
            <svg aria-labelledby="icons01-icon-3-title"  width="24" height="24">
              <title id="icons01-icon-3-title">Instagram</title>
              <use xlink:href="/assets/icons.svg#instagram"></use>
            </svg>
            <span class="label">Instagram</span>
          </a>
        </li>{% endif %}
        {% if metadata.social.bsky %}<li>
          <a class="n06" href="{{metadata.social.bsky}}" role="button">
            <img loading="lazy" src="/assets/bsky.svg"  width="24" height="24" alt="bsky app"/>
          </a>
        </li>{% endif %}
        {% if metadata.social.twitter %}<li>
          <a class="n01" href="{{metadata.social.twitter}}" role="button">
            <svg aria-labelledby="icons01-icon-1-title"  width="24" height="24">
              <title id="icons01-icon-1-title">Twitter</title>
              <use xlink:href="/assets/icons.svg#twitter"></use>
            </svg>
            <span class="label">Twitter</span>
          </a>
        </li>{% endif %}
        {% if metadata.social.web %}<li>
          <a class="n04" href="{{metadata.social.web}}" role="button">
            <svg aria-labelledby="icons01-icon-4-title"  width="24" height="24">
              <title id="icons01-icon-4-title">Globe</title>
              <use xlink:href="/assets/icons.svg#globe"></use>
            </svg>
            <span class="label">Globe</span>
          </a>
        </li>{% endif %}
        {% if metadata.social.email %}<li>
          <a class="n05" href="{{metadata.social.email}}" role="button">
            <svg aria-labelledby="icons01-icon-5-title"  width="24" height="24">
              <title id="icons01-icon-5-title">Email</title>
              <use xlink:href="/assets/icons.svg#email-alt"></use>
            </svg>
            <span class="label">Email</span>
          </a>
        </li>{% endif %}
      </ul>
    </div>
</div>

    </div>
  </div>
</div>{% else %}
<div
  id="container04"
  data-scroll-id="newsletter"
  data-scroll-behavior="default"
  data-scroll-offset="0"
  data-scroll-speed="3"
  class="style6 default full screen"
>
  <div class="wrapper">
    <div class="" data-onvisible-trigger="1">
      
      <div class="grid-container" style="color: black;">
<div class="grid-item text-start">      
  <p>Built with <a href="https://11ty.dev" target="_blank" rel="noopener">{{ eleventy.generator }}</a>. {{metadata.copyrights.support.text}} <a href="{{metadata.copyrights.support.url}}" target="_blank" rel="noopener">{{metadata.copyrights.support.text1}}</a>. 
        {{metadata.copyrights.text}}
        <a href="{{metadata.copyrights.text1_url}}" target="_blank" rel="noopener"
          >{{metadata.copyrights.text1}}</a
        >.
      </p>
    </div>
<div class="grid-item justify-content-end">
  <ul id="icons01" class="style1 icons icons-right">
        {% if metadata.social.facebook %}<li>
          <a class="n02" href="{{metadata.social.facebook}}" role="button">
            <svg aria-labelledby="icons01-icon-2-title"  width="24" height="24">
              <title id="icons01-icon-2-title">Facebook</title>
              <use xlink:href="/assets/icons.svg#facebook"></use>
            </svg>
            <span class="label">Facebook</span>
          </a>
        </li>{% endif %}
        {% if metadata.social.instagram %}<li>
          <a class="n03" href="{{metadata.social.instagram}}" role="button">
            <svg aria-labelledby="icons01-icon-3-title"  width="24" height="24">
              <title id="icons01-icon-3-title">Instagram</title>
              <use xlink:href="/assets/icons.svg#instagram"></use>
            </svg>
            <span class="label">Instagram</span>
          </a>
        </li>{% endif %}
        
        {% if metadata.social.bsky %}<li>
          <a class="n06" href="{{metadata.social.bsky}}" role="button">
            <img loading="lazy" src="/assets/bsky.svg"  width="24" height="24" alt="bsky app"/>
          </a>
        </li>{% endif %}
        {% if metadata.social.twitter %}<li>
          <a class="n01" href="{{metadata.social.twitter}}" role="button">
            <svg aria-labelledby="icons01-icon-1-title"  width="24" height="24">
              <title id="icons01-icon-1-title">Twitter</title>
              <use xlink:href="/assets/icons.svg#twitter"></use>
            </svg>
            <span class="label">Twitter</span>
          </a>
        </li>{% endif %}
        {% if metadata.social.web %}<li>
          <a class="n04" href="{{metadata.social.web}}" role="button">
            <svg aria-labelledby="icons01-icon-4-title"  width="24" height="24">
              <title id="icons01-icon-4-title">Globe</title>
              <use xlink:href="/assets/icons.svg#globe"></use>
            </svg>
            <span class="label">Globe</span>
          </a>
        </li>{% endif %}
        {% if metadata.social.email %}<li>
          <a class="n05" href="{{metadata.social.email}}" role="button">
            <svg aria-labelledby="icons01-icon-5-title"  width="24" height="24">
              <title id="icons01-icon-5-title">Email</title>
              <use xlink:href="/assets/icons.svg#email-alt"></use>
            </svg>
            <span class="label">Email</span>
          </a>
        </li>{% endif %}
      </ul>
    </div>
</div>

    </div>
  </div>
</div>
      {% endif %}
