<section id="done-section">
  <div id="container01" class="style2 container columns full screen">
    <div class="wrapper">
      <div
        class="inner"
        data-onvisible-trigger="1"
        data-reorder="1,0"
        data-reorder-breakpoint="medium"
      >
        <div>
          <h3 id="text02" class="style1">Thank you for supporting</h3>
          <h2 id="text04" class="style2">The Alfie Jacques Ambassador Award</h2>
          <p id="text05" class="style3">
            As a proud citizen of the Onondaga Nation Turtle Clan, Alfie
            understood that lacrosse is more than a game. It is medicine.
            Wherever he went he taught people about the importance of the living
            wooden stick and reminded us that there are some things you can
            never get from a piece of plastic and carbon fiber. Thank you for
            helping to support and carry this legacy forward.
          </p>
          <ul class="style1 buttons">
            <li>
              <a href="#home" class="button n01" role="button"
                ><svg aria-labelledby="buttons01-icon-1-title">
                  <title>Arrow Right (Light)</title>
                  <use
                    xlink:href="/assets/icons.svg#arrow-right-light"
                  ></use></svg
                ><span class="label">Home</span></a
              >
            </li>
            <li>
              <a
                href="https://givebutter.com/alfaward"
                class="button n02"
                role="button"
                ><svg aria-labelledby="buttons01-icon-2-title">
                  <title>Heart</title>
                  <use xlink:href="/assets/icons.svg#heart"></use></svg
                ><span class="label">Give Now</span></a
              >
            </li>
          </ul>
        </div>
        <div class="full">
          <div id="image03" class="style1 image full" data-position="center">
            <span class="frame"
              ><img src="/img/home/image03.webp" alt="The Alfie Jacques Ambassador Award" loading="lazy"
            /></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
