<div id="container06" class="style4 container columns full screen teal" 
      data-scroll-id="sid-jamieson">
  <div class="wrapper">
    <div
      class="inner"
      data-onvisible-trigger="1"
      data-reorder="1,0"
      data-reorder-breakpoint="medium"
    >{% if section1.image_left_side %}

      <div class="full">
        <div class="style1 image full" data-position="center">
          <span class="frame"
            ><img
              src="{{section1.image}}"
              alt="{{section1.title}}"
          /></span>
        </div>
      </div>
      <div>
        <h2 class="style2">{{section1.title}}</h2>
        <p class="style3">{{section1.text|markdown|safe}}</p>
      </div>{% else %}
      <div>
        <h2 class="style2">{{section1.title}}</h2>
        <p class="style3">{{section1.text|markdown|safe}}</p>
      </div>
      <div class="full">
        <div class="style1 image full" data-position="center">
          <span class="frame"
            ><img
              src="{{section1.image}}"
              alt="{{section1.title}}"
          /></span>
        </div>
      </div>{% endif %}
    </div>
  </div>
</div>
